<app-navigation></app-navigation>
<h1>Edit Log</h1>

<form [formGroup]="form">
  <div>
    <label for="logged">Logged:</label>
    <input type="text" id="logged" name="logged" formControlName="logged" required>
  </div>
  <div>
    <label for="start">Start:</label>
    <input type="text" id="start" name="start" formControlName="start" required>
  </div>
  <div>
    <label for="duration">Number:</label>
    <input type="number" id="duration" name="duration" formControlName="duration" required>
  </div>
  <button type="submit" (click)="postLog()">Save</button>
  <button type="submit" (click)="confirmDelete()">Delete</button>
  <div *ngIf="showMessage" style="font-style: italic;">Changes were made correctly</div>
</form>
